

             {% extends 'baseBack.html.twig' %}
             {% block content %}
 <div class="container">
          <div class="page-inner">
<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <div class="d-flex align-items-center">
                <h4 class="card-title">Add Workshop</h4>
                <button class="btn btn-primary btn-round ms-auto" data-bs-toggle="modal" data-bs-target="#addEventModal">
                    <i class="fa fa-plus"></i> Add Workshop
                </button>
            </div>
        </div>
        <div class="card-body">
            <!-- Modal for Adding Event -->
            <div class="modal fade" id="addEventModal" tabindex="-1" role="dialog" aria-labelledby="addEventModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header border-0">
                            <h5 class="modal-title" id="addEventModalLabel">
                                <span class="fw-mediumbold"> New</span>
                                <span class="fw-light"> Workshop </span>
                            </h5>
                            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                <span>&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p class="small">Create a new workshop using this form, make sure you fill them all</p>

                         {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
<div class="row">
    <div class="col-sm-12">
        <div class="form-group form-group-default">


            {{ form_label(form.title, 'Title', {'label_attr': {'class': 'form-label'}}) }}
    {{ form_widget(form.title, {'attr': {'placeholder': 'Enter title...', 'class': 'form-control'}}) }}
    {% for error in form.title.vars.errors %}
        <div class="text-danger">{{ error.message }}</div>
    {% endfor %}

        </div>
    </div>
    <div class="col-md-6 pe-0">
        <div class="form-group form-group-default">
           {{ form_label(form.description, 'Description', {'label_attr': {'class': 'form-label'}}) }}
    {{ form_widget(form.description, {'attr': {'placeholder': 'Enter description...', 'class': 'form-control'}}) }}

    {% for error in form.description.vars.errors %}
        <div class="text-danger">{{ error.message }}</div>
    {% endfor %}
                   </div>
    </div>


    <div class="col-md-6">
        <div class="form-group form-group-default">
       {{ form_label(form.image, 'Image', {'label_attr': {'class': 'form-label'}}) }}
    {{ form_widget(form.image, {'attr': {'class': 'form-control'}}) }}

    {% for error in form.image.vars.errors %}
        <div class="text-danger">{{ error.message }}</div>
    {% endfor %}
        </div>
    </div>


    <div class="col-md-6 pe-0">
        <div class="form-group form-group-default">
 {{ form_label(form.date, 'Date', {'label_attr': {'class': 'form-label'}}) }}
    {{ form_widget(form.date, {'attr': {'class': 'form-control'}}) }}

    {% for error in form.date.vars.errors %}
        <div class="text-danger">{{ error.message }}</div>
    {% endfor %}
        </div>
    </div>


    <div class="col-md-6">
        <div class="form-group form-group-default">
            {{ form_row(form.type, {'label': 'Type', 'attr': {'class': 'form-control'}}) }}
        </div>
    </div>

    
    <div class="col-md-6 pe-0">
        <div class="form-group form-group-default">
{{ form_label(form.location, 'Location', {'label_attr': {'class': 'form-label'}}) }}
    {{ form_widget(form.location, {'attr': {'placeholder': 'Enter location...', 'class': 'form-control'}}) }}

    {% for error in form.location.vars.errors %}
        <div class="text-danger">{{ error.message }}</div>
    {% endfor %}

        </div>
    </div>
</div>
                        </div>
                        <div class="modal-footer border-0">
                            <button type="submit" class="btn btn-primary">Add Event</button>
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>

            <!-- Table -->
            <div class="table-responsive">
                <table id="add-row" class="display table table-striped table-hover">
                    <thead>
                        <tr>
                        <th>Id</th>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Image</th>
                            <th>Date</th>
                            <th>Type</th>
                            <th>Location</th>
                            <th style="width: 10%">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for workshop in work %}
                            <tr>
                            <td>{{ workshop.id }}</td>
                                <td>{{ workshop.title }}</td>
                                <td>{{ workshop.description|split('.')[:1]|join('.') ~ '...' }}</td>
                                 <td>
    {% if workshop.image %}
 <img src="{{ asset(workshop.image) }}" alt="{{workshop.image }}" class="workshop-image" width="100">
    {% else %}
       no images
    {% endif %}
</td>
                                <td>{{ workshop.date|date('Y-m-d H:i') }}</td>
                                <td>{{ workshop.type }}</td>
                                <td>{{ workshop.location }}</td>
                               <td class="text-center">
    <div class="btn-group">
        <a href="{{ path('edit_workshop', {'id': workshop.id}) }}" 
    class="btn btn-link btn-primary btn-lg">
            <i class="fa fa-edit"></i> 
        </a>

        <a href="{{ path('delete_workshop', {'id': workshop.id}) }}" 
    class="btn btn-link btn-danger btn-lg" >
            <i class="fa fa-times"></i> 
        </a>
    </div>
</td>


                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
             {% endblock %}

      