        
{% extends 'baseBack.html.twig' %}
{% block content %}
             <div class="container">
          <div class="page-inner">
<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <div class="d-flex align-items-center">
                <h4 class="card-title">Reservations</h4>
               
            </div>
        </div>
        
        <div class="card-body">
          

            <!-- Table -->
            <div class="table-responsive">
                <table id="add-row" class="display table table-striped table-hover">
                     {% if reservations is empty %}
                            <p class="text-muted">You have no reservations.</p>
                        {% else %}
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Workshop</th>
                                        <th>Seats Reserved</th>
                                        <th>Notes</th>
                                        <th>Date</th>
                                        <th>Unique Code</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for reservation in reservations %}
                                        <tr>
                                            <td>{{ loop.index }}</td>
                                            <td>{{ reservation.workshop.title }}</td>
                                             <td>{{ reservation.seatsReserved}}</td>
                                            <td>{{ reservation.notes}}</td>
                                           
                                            <td>{{ reservation.dateReservation|date('Y-m-d') }}</td>
                                            <td>{{ reservation.uniqueCode}}</td>
                                            <td>
                     <a href="{{ path('editback_reservation', { 'id': reservation.id }) }}" 
    class="btn btn-link btn-primary btn-lg">
                     <i class="fas fa-edit"></i></a>

<a href="{{ path('deleteback_reservation', { 'id': reservation.id }) }}"
    class="btn btn-link btn-danger btn-lg">
    <i class="fas fa-times"></i> 
</a>
                                            </td>


                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% endif %}
                </table>
            </div>
        </div>
    </div>
    
    </div>
    </div>
    </div>


            {% endblock %}