{% extends 'baseBack.html.twig' %}

{% block title %}Gestion des Articles{% endblock %}

{% block content %}
    <div class="page-inner">
        <div class="page-header">
            <h3 class="fw-bold mb-3">Gestion des Articles</h3>
            <ul class="breadcrumbs mb-3">
                <li class="nav-home">
                    <a href="{{ path('app_article') }}">
                        <i class="icon-home"></i>
                    </a>
                </li>
                <li class="separator">
                    <i class="icon-arrow-right"></i>
                </li>
                <li class="nav-item">
                    <a href="#">Articles</a>
                </li>
            </ul>
        </div>

        <div class="card">
            <div class="card-header d-flex align-items-center">
                <h4 class="card-title">Liste des Articles</h4>
                <a href="{{ path('add_article') }}" class="btn btn-primary btn-round ms-auto">
                    <i class="fa fa-plus"></i> Ajouter un Article
                </a>
            </div>

            <div class="table-responsive">
                <table id="add-row" class="display table table-striped table-hover">
                    <thead>
                    
                        <tr>
                                                    <th>id</th>

                            <th>Title</th>
                            <th>content</th>
                            <th>Publication date</th>
                            <th>Image</th>
                            <th>Category</th>
                            <th>author Name</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    
                        {% for article in articles %}
                            <tr>
                                                            <td>{{ article.id }}</td>

                                <td>{{ article.titre }}</td>
                                <td>    {{ article.contenu|slice(0, 5) ~'...' }}
</td>
                                <td>{{ article.datepub|date('Y-m-d') }}</td>
                                <td>
                                    {% if article.image %}
                                        <img src="{{ asset('assets/back-office/images/' ~ article.image) }}" width="100">
                                    {% else %}
                                        Aucune image
                                    {% endif %}
                                </td>
                                <td>
    {% set categoryColors = {
        'Peinture': 'primary',
        'Sculpture': 'success',
        'Photographie': 'warning',
        'Céramique': 'danger',
        
    } %}
    <span class="badge bg-{{ categoryColors[article.categorie]|default('secondary') }}">
        {{ article.categorie }}
    </span>
</td>
                                <td>{{ article.nomAuteur }}</td>
                               <td class="text-center">
    <div class="d-flex gap-2">
        <a href="{{ path('edit_article', {'id': article.id}) }}"
           class="btn btn-link btn-primary btn-lg"
           data-bs-toggle="tooltip"
           title="Modifier l'article"
        >
            <i class="fa fa-edit"></i>
        </a>

        <form action="{{ path('delete_article', {'id': article.id}) }}">
            <button type="submit"
                    class="btn btn-link btn-danger"
            >
                <i class="fa fa-times"></i>
            </button>
        </form>
    </div>
</td>

                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="7" class="text-center">Aucun article trouvé</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
